#navmenu ul{
    padding: 0;
    display: flex;
}

#navmenu li{
    display: inline;
    flex-direction: column;
}

#navmenu li img{
    float: left;
}

#navmenu li a{
    font-family: fantasy;
    font-size: 20px;
    text-decoration: none;
    float: left;
    padding: 30px;
    background-color: dimgray;
    color: #fff;
}

#navmenu li a:hover{
    
    margin-top: -2;
    padding-bottom: 12px;
}

header {
    flex: 1 1 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 0;
}
        
header a {
    flex: 0 1 180px;
}

header a img {
    width: 50%;
}
        
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
        
header nav ul li a {
    display: block;
    background: red;
    color: #fff;
    padding: 1rem;
    margin: 0 .3rem;
    border-radius: 5px;
    text-decoration: none;
}


.titulo{
    font-size: 30px;
    color: teal;
    align-self: center;
    font-weight: bold;
}

.somos{
    border-radius: 50px;
    display: flex;
    align-content: center;
    padding: 10px;
    background-color: lavender;
}

.divsom{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: justify;
    margin-top: 10px;
}

.titulo{
    font-size: 30px;
    color: teal;
    align-self: center;
    text-align: center;
    font-weight: bold;
}


.mapa{
    margin-left: auto;
    margin-right: 1000px auto;
}


.navf{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-content: center;
    padding: 15px;
}

#divf{
    width: 25%;
    margin: auto;
    padding: 15px;
    text-align: justify;
    color: white;
    margin-top: 10px;
}

#divf a{
    color: white;
    font-weight: bold;
}